[Unit]
Description=Run CSI Threads semantic enrichment every 4 hours
PartOf=csi.target

[Timer]
OnCalendar=*-*-* 1/4:11:00
Persistent=true

[Install]
WantedBy=csi.target
