[Unit]
Description=Run CSI RSS trend report 3x daily (7am/1pm/7pm CT)
PartOf=csi.target

[Timer]
OnCalendar=*-*-* 12:12:00 UTC
OnCalendar=*-*-* 18:12:00 UTC
OnCalendar=*-*-* 00:12:00 UTC
Persistent=true

[Install]
WantedBy=csi.target
