[Unit]
Description=Run CSI DLQ replay every 4 hours
PartOf=csi.target

[Timer]
OnCalendar=*-*-* 2/4:08:00
Persistent=true

[Install]
WantedBy=csi.target
