[Unit]
Description=Run CSI Reddit semantic enrichment every 3 hours
PartOf=csi.target

[Timer]
OnCalendar=*-*-* 0/3:07:00
Persistent=true

[Install]
WantedBy=csi.target
