[Unit]
Description=Run CSI RSS (YouTube) semantic enrichment every 4 hours
PartOf=csi.target

[Timer]
OnCalendar=*-*-* 0/4:02:00
Persistent=true

[Install]
WantedBy=csi.target
